<div ng-show="wiChat.show" class="wraper container">
    <div class="row header" style="font-size: 16px; position: relative;">
        <p style="width: 80%; overflow-x: hidden; text-overflow: ellipsis; display: inline-block;">Conversation({{wiChat.curConver.name}})</p>
        <span ng-click="wiChat.show=false" style="float: right; cursor: pointer;" class="fa fa-close"></span>
    </div>
    <div class="row content">
        <div class="col-sm-8 left" style="position: relative;">
            <div class="row list-message" style="padding: 5px 10px; overflow-y: overlay" ngf-drop="wiChat.upload($files)" class="drop-box"
                ngf-drag-over-class="'dragover'" ngf-multiple="true">
                <div class="row" ng-repeat="message in wiChat.curConver.Messages track by $index">
                    <div ng-if="$index==0 || chatGroup.getDate(message.sendAt, chatGroup.conver.Messages[$index-1].sendAt)" class="row" style="text-align: center; color: #acacac; font-weight: bold"
                        id="message.id">
                        {{message.sendAt | date: 'EEE dd/MM/y HH:mm a'}}
                    </div>
                    <div ng-if="message.User.username!=wiChat.user.username && ($index==0 || message.User.username!= wiChat.curConver.Messages[$index-1].User.username)"
                        class="row" style="color: gray; text-align: left; width: 70%">
                        <div class="col-sm-2" style="padding: 0px">
                            <div style="display: table; width: 35px; height: 35px; border: 1px solid balck;">
                            </div>
                        </div>
                        <div class="col-sm-10" style="padding: 0px">
                            <p ng-if="wiChat.curConver.name.indexOf('Help_Desk')==-1" style="color:#b6b6b6; margin-top: 3px; margin-bottom: 3px">{{message.User.username}}</p>
                            <p ng-if="wiChat.curConver.name.indexOf('Help_Desk')!=-1" style="color:#b6b6b6; margin-top: 3px; margin-bottom: 3px">Admin</p>
                        </div>
                    </div>
                    <div ng-if="message.User.username!=wiChat.user.username" style="width: 70%; float: left;margin-bottom: 2px">
                        <div class="col-sm-2" style="padding: 0px">
                            <avatar username="message.User.username" color="''" ng-show="$index==wiChat.curConver.Messages.length || message.User.username!= wiChat.curConver.Messages[$index+1].User.username"></avatar>
                            <div ng-show="!($index==wiChat.curConver.Messages.length || message.User.username!= wiChat.curConver.Messages[$index+1].User.username)"
                                style="display: table; width: 35px; height: 35px; border: 1px solid balck;">
                            </div>
                        </div>
                        <div class="col-sm-10" style="padding: 0">
                            <div data-toggle="tooltip" data-placement="left" title="{{message.sendAt | date: 'H:mm a'}}" ng-if="message.type!='image'"
                                style="background: #e6e6e6; border-radius: 5px; display: inline-block; padding: 6px 8px ;max-width: 100%;font-size: 15px">
                                <p class="message" style=" display: inline;" ng-if="message.type=='text'">
                                    <chat-message text="message.content" color="'black'"></chat-message>
                                </p>
                                <p class="message" style=" display: inline;" ng-if="message.type=='file'">
                                    <a href="{{wiChat.download(message.content)}}">
                                        <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                        {{wiChat.fileName(message.content)}}
                                    </a>
                                </p>
                            </div>
                            <div data-toggle="tooltip" data-placement="left" title="{{message.sendAt | date: 'H:mm a'}}" ng-if="message.type=='image'"
                                style=" display: inline-block;max-width: 100%">
                                <p class="message" style=" display: inline;">
                                    <img-preview small-img-link="wiChat.thumb(message.content)" download-link="wiChat.download(message.content)" full-img-link="wiChat.getImageOrigin(message.content)">
                                    </img-preview>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-if="message.User.username==wiChat.user.username" style="width: 70%; float: right;margin-bottom: 2px">
                        <div data-toggle="tooltip" data-placement="right" title="{{message.sendAt | date: 'H:mm a'}}" ng-if="message.type!='image'"
                            style="background: #4B86C6; border-radius: 5px; float: right; display: inline-block;padding: 6px 8px;max-width: 100%; font-size:15px">
                            <p class="message" style=" display: inline;" ng-if="message.type=='text'">
                                <chat-message text="message.content" color="'#fff'"></chat-message>
                            </p>
                            <p class="message" style=" display: inline;" ng-if="message.type=='file'">
                                <a href="{{wiChat.download(message.content)}}" style="color: #fff">
                                    <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                    {{wiChat.fileName(message.content)}}
                                </a>
                            </p>
                        </div>
                        <div data-toggle="tooltip" data-placement="left" title="{{message.sendAt | date: 'H:mm a'}}" ng-if="message.type=='image'"
                            style=" text-align: right; float: right; display: inline-block;padding: 6px 8px;max-width: 100%">
                            <p class="message" style=" display: inline;">
                                <img-preview small-img-link="wiChat.thumb(message.content)" download-link="wiChat.download(message.content)" full-img-link="wiChat.getImageOrigin(message.content)">
                                </img-preview>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row input-group enter-message" ng-click="wiChat.seenMessage()">
                <textarea class="text-message" rows="1" style="border: none; width: 100%; height: 100%;resize: none;position: relative; padding: 5px 5px 4px 10px;"
                    placeholder="Enter your message ..."></textarea>
                <span class="input-group-addon" style="background: none; height:100%; border: none; cursor: pointer;padding: 0px 5px">
                    <i style="font-size: 30px; font-family: none;color: gray" class="glyphicon glyphicon-plus" ngf-select="wiChat.upload($files)"
                        multiple="multiple"></i>
                </span>
            </div>
        </div>
        <div class="col-sm-4 right" ng-init="wiChat.showContacts=true;wiChat.showGroups=true;wiChat.showHelpDesk=true;" style="position: relative;">
            <div class="row" style="height: 93%;overflow-y: overlay; overflow-x: hidden">
                <div class="help" style="margin-bottom: 10px;padding: 5px;">
                    <div class="row" style="font-weight: 600; color: #4a4a4a">
                        HELP
                    </div>
                    <div class="listGroup row">
                        <div ng-repeat="conver in wiChat.listConver | filter:{name: ('Help_Desk-' + wiChat.user.username)} " ng-click="wiChat.changeCurConver(conver); conver.click='click'"
                            ng-class="{{conver.click}}" class="row conver" style="position: relative;margin-top: 5px">
                            <div style="width: 20%;padding: 0px">
                                <avatar username="'?'" color="'red'"></avatar>
                            </div>
                            <div style="width: 80%;padding: 0px;padding-right: 10px; position: absolute; transform: translateY(-50%); top: 50%; margin-left: 40px">
                                <p style="text-overflow: ellipsis; display: inline-block; width: 70%; overflow-x: hidden; margin-bottom: 0px; white-space:nowrap; font-weight: {{conver.lastMessFontWeight}}">Help desk</p>
                                <span ng-if="conver.lasMessFontWeight" class="badge badge-danger" style="background: red;float: right; font-size: 10px">New</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="groups" ng-show="wiChat.listConver.length>1" style="margin-bottom: 10px;padding: 5px;">
                    <div class="row" style="font-weight: 600; color: #4a4a4a">
                        CHAT GROUP
                    </div>
                    <div  class="listGroup row">
                        <div ng-repeat="conver in wiChat.listConver | filter:{name: wiChat.groupName}" ng-click="wiChat.changeCurConver(conver); conver.click='click'"
                            ng-class="{{conver.click}}" class="row conver" style="position: relative;margin-top: 5px">
                            <div style="width: 20%;padding: 0px">
                                <avatar username="'G'" color="'steelblue'"></avatar>
                            </div>
                            <div style="width: 80%;padding: 0px;padding-right: 10px; position: absolute; transform: translateY(-50%); top: 50%; margin-left: 40px">
                                <p style="text-overflow: ellipsis; display: inline-block; width: 70%; overflow-x: hidden; margin-bottom: 0px; white-space:nowrap; font-weight: {{conver.lastMessFontWeight}}">{{conver.name}}</p>
                                <span ng-if="conver.lastMessFontWeight" class="badge badge-danger" style="background: red;float: right; font-size: 10px">New</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacts" ng-show="wiChat.listConver.length>1" style="margin-bottom: 10px; padding: 5px;">
                    <div class="row" style="font-weight: 600; color: #4a4a4a">
                        CONTACTS OF GROUP
                        <span ng-show="wiChat.showContacts" ng-click="wiChat.showContacts=!wiChat.showContacts;" class="fa fa-chevron-up" style="float: right;cursor: pointer;"></span>
                        <span ng-show="!wiChat.showContacts" ng-click="wiChat.showContacts=!wiChat.showContacts;" class="fa fa-chevron-down" style="float: right;cursor: pointer;"></span>
                    </div>
                    <div ng-show="wiChat.showContacts" class="listContact row">
                        <div ng-repeat="user in wiChat.listUser | filter: wiChat.search | orderBy: 'active'"
                            ng-show="user.username != wiChat.user.username"
                            class="row" style="position: relative;margin-top: 5px">
                            <div style="width: 20%;padding: 0px">
                                <avatar username="user.username" color="''"></avatar>
                            </div>
                            <div style="width: 80%;padding: 0px;padding-right: 10px; position: absolute; transform: translateY(-50%); top: 50%; margin-left: 40px">
                                <p style="text-overflow: ellipsis; display: inline-block; width: 80%; overflow-x: hidden; margin-bottom: 0px; white-space:nowrap;">{{user.username}}</p>
                                <span class="fa fa-circle" style="color: {{user.active}}; float: right; font-size: 10px"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row earch" style="position: absolute; height: 7%; bottom: 0px;width: 100%;">
                <input type="text" placeholder="Search ..." style="height: 100%;width: 100%; padding-left: 5px" ng-model="wiChat.search">
            </div>
        </div>
    </div>
</div>
<script>
    var BASE_URL = 'http://chat.dev.i2g.cloud';
    var socket = io(BASE_URL);
</script>
