<div ng-show="wiChat.show || true" class="wraper container" ng-init="wiChat.showAddUser=false;">
    <div class="row header" style="font-size: 16px; position: relative;">
        Conversation({{wiChat.showNameCurConver()}})
        <span ng-click="wiChat.show=false" style="float: right; cursor: pointer;" class="fa fa-close"></span>
        <span style="float: right; cursor: pointer; margin-right: 5px" class="fa fa-cog dropdown-toggle" data-toggle="dropdown"></span>
        <ul class="dropdown-menu" style="position: absolute; right: 5px; top: auto">
            <li ng-click="wiChat.addUsers=[];wiChat.showAddUser=true;wiChat.showGroups=false;wiChat.showHelpDesk=false;wiChat.setNullOfTextarea()" ng-show="wiChat.curConver.type!=3">
                <a href="#">Add Members</a>
            </li>
            <li ng-click="wiChat.leaveConver()" ng-show="wiChat.curConver.type==2">
                <a href="#">Leave conversation</a>
            </li>
        </ul>
    </div>
    <div class="row content">
        <div class="col-sm-8 left" style="position: relative;">
            <div class="row" ng-show="wiChat.showAddUser" style="width: 100%; height: 35px;position: absolute;z-index: 101">
                <div class="col-sm-10" style="padding: 0px">
                    <textarea ng-model="wiChat.searchUser" placeholder="Enter username ..." class="addUser" rows="1" style=" width: 100%; height: 100%;resize: none; padding: 5px 5px 4px 10px;" autofocus>
                    </textarea>
                </div>
                <div class="col-sm-2" style="padding: 0px">
                    <button ng-click="wiChat.showAddUser=false; wiChat.addUser()" class="btn btn-primary" style="height:100%;width: 100%;"> OK
                    </button>
                </div>
            </div>
            <div class="row" ng-show="wiChat.showAddUser && wiChat.addUsers.length" 
                style="width: 83%; position: absolute; top: 35px; background: #fff; border: 1px solid gray;z-index: 101; min-height: 35px;max-height: 50%; overflow-y: overlay; padding: 5px">
                <div ng-repeat="username in wiChat.addUsers track by $index" style="display: inline-block;border: 1px solid #9cb4d8; margin-right: 5px;background: #e9ebee; padding: 0px 5px;">
                    {{username}}
                    <span ng-click="wiChat.addUsers.splice($index, 1);" class="fa fa-close" style="font-size: 12px; color: #365899; cursor: pointer;"></span>
                </div>
            </div>
            <div class="row list-message" style="padding: 5px 10px; overflow-y: overlay" ngf-drop="chatGroup.upload($files)" class="drop-box"
                ngf-drag-over-class="'dragover'" ngf-multiple="true">
                <div class="row" ng-repeat="message in wiChat.curConver.Messages track by $index">
                    <div ng-if="$index==0 || chatGroup.getDate(message.sendAt, chatGroup.conver.Messages[$index-1].sendAt)" class="row" style="text-align: center; color: #acacac; font-weight: bold"
                        id="message.id">
                        {{message.sendAt | date: 'EEE dd/MM/y HH:mm a'}}
                    </div>
                    <div ng-if="message.User.username!=wiChat.user.username && ($index==0 || message.User.username!= wiChat.curConver.Messages[$index-1].User.username)"
                        class="row" style="color: gray; text-align: left; width: 70%">
                        <div class="col-sm-2" style="padding: 0px">
                            <div style="display: table; width: 35px; height: 35px; border: 1px solid balck;">
                            </div>
                        </div>
                        <div class="col-sm-10" style="padding: 0px">
                            <p ng-if="wiChat.curConver.name.indexOf('Help_Desk')==-1" style="color:#b6b6b6; margin-top: 3px; margin-bottom: 3px">{{message.User.username}}</p>
                            <p ng-if="wiChat.curConver.name.indexOf('Help_Desk')!=-1" style="color:#b6b6b6; margin-top: 3px; margin-bottom: 3px">Admin</p>
                        </div>
                    </div>
                    <div ng-if="message.User.username!=wiChat.user.username" style="width: 70%; float: left;margin-bottom: 2px">
                        <div class="col-sm-2" style="padding: 0px">
                            <avatar username="message.User.username" color="message.User.color" ng-show="$index==wiChat.curConver.Messages.length || message.User.username!= wiChat.curConver.Messages[$index+1].User.username"></avatar>
                            <div ng-show="!($index==wiChat.curConver.Messages.length || message.User.username!= wiChat.curConver.Messages[$index+1].User.username)"
                                style="display: table; width: 35px; height: 35px; border: 1px solid balck;">
                            </div>
                        </div>
                        <div class="col-sm-10" style="padding: 0">
                            <div data-toggle="tooltip" data-placement="left" title="{{message.sendAt | date: 'H:mm a'}}" ng-if="message.type!='image'"
                                style="background: #e6e6e6; border-radius: 5px; display: inline-block; padding: 6px 8px ;max-width: 100%;font-size: 15px">
                                <p class="message" style=" display: inline;" ng-if="message.type=='text'">
                                    <chat-message text="message.content" color="'black'"></chat-message>
                                </p>
                                <p class="message" style=" display: inline;" ng-if="message.type=='file'">
                                    <a href="{{wiChat.download(message.content)}}">
                                        <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                        {{wiChat.fileName(message.content)}}
                                    </a>
                                </p>
                            </div>
                            <div data-toggle="tooltip" data-placement="left" title="{{message.sendAt | date: 'H:mm a'}}" ng-if="message.type=='image'"
                                style=" display: inline-block;max-width: 100%">
                                <p class="message" style=" display: inline;">
                                    <img-preview small-img-link="wiChat.thumb(message.content)" download-link="wiChat.download(message.content)" full-img-link="wiChat.getImageOrigin(message.content)">
                                    </img-preview>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-if="message.User.username==wiChat.user.username" style="width: 70%; float: right;margin-bottom: 2px">
                        <div data-toggle="tooltip" data-placement="right" title="{{message.sendAt | date: 'H:mm a'}}" ng-if="message.type!='image'"
                            style="background: #4B86C6; border-radius: 5px; float: right; display: inline-block;padding: 6px 8px;max-width: 100%; font-size:15px">
                            <p class="message" style=" display: inline;" ng-if="message.type=='text'">
                                <chat-message text="message.content" color="'#fff'"></chat-message>
                            </p>
                            <p class="message" style=" display: inline;" ng-if="message.type=='file'">
                                <a href="{{wiChat.download(message.content)}}" style="color: #fff">
                                    <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                    {{wiChat.fileName(message.content)}}
                                </a>
                            </p>
                        </div>
                        <div data-toggle="tooltip" data-placement="left" title="{{message.sendAt | date: 'H:mm a'}}" ng-if="message.type=='image'"
                            style=" text-align: right; float: right; display: inline-block;padding: 6px 8px;max-width: 100%">
                            <p class="message" style=" display: inline;">
                                <img-preview small-img-link="wiChat.thumb(message.content)" download-link="wiChat.download(message.content)" full-img-link="wiChat.getImageOrigin(message.content)">
                                </img-preview>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row input-group enter-message">
                <textarea class="text-message" rows="1" style="border: none; width: 100%; height: 100%;resize: none;position: relative; padding: 5px 5px 4px 10px;"
                    placeholder="Enter your message ..." autofocus></textarea>
                <span class="input-group-addon" style="background: none; height:100%; border: none; cursor: pointer;padding: 0px 5px">
                    <i style="font-size: 30px; font-family: none;color: gray" class="glyphicon glyphicon-plus" ngf-select="wiChat.upload($files)"
                        multiple="multiple"></i>
                </span>
            </div>
        </div>
        <div class="col-sm-4 right" ng-init="wiChat.showContacts=true;wiChat.showGroups=true;wiChat.showHelpDesk=true;" style="position: relative;">
            <div class="row" style="height: 93%;overflow-y: overlay; overflow-x: hidden">
                <div class="listUser" ng-show="wiChat.showAddUser" style="margin-bottom: 10px; padding: 5px;">
                    <div class="row" style="font-weight: 600; color: #4a4a4a">
                        LIST USERS
                        <!-- <span ng-show="wiChat.showContacts" ng-click="wiChat.showContacts=!wiChat.showContacts;" class="fa fa-chevron-up" style="float: right;cursor: pointer;"></span>
                        <span ng-show="!wiChat.showContacts" ng-click="wiChat.showContacts=!wiChat.showContacts;" class="fa fa-chevron-down" style="float: right;cursor: pointer;"></span> -->
                    </div>
                    <div class="listContact row">
                        <div ng-repeat="user in wiChat.listUserSearch | filter: wiChat.searchUser" 
                            ng-show="user.username != wiChat.user.username && wiChat.filterUserSearch(user.username)"
                            ng-click="wiChat.getConver({type:1, name:user.username})"
                            class="row conver" style="position: relative;margin-top: 5px">
                            <div style="width: 20%;padding: 0px">
                                <avatar username="user.username" color="user.color"></avatar>
                            </div>
                            <div style="width: 80%;padding: 0px;padding-right: 10px; position: absolute; transform: translateY(-50%); top: 50%; margin-left: 40px">
                                <span>{{user.username}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacts" ng-show="!wiChat.showAddUser" style="margin-bottom: 10px; padding: 5px;">
                    <div class="row" style="font-weight: 600; color: #4a4a4a">
                        CONTACTS
                        <span ng-show="wiChat.showContacts" ng-click="wiChat.showContacts=!wiChat.showContacts;" class="fa fa-chevron-up" style="float: right;cursor: pointer;"></span>
                        <span ng-show="!wiChat.showContacts" ng-click="wiChat.showContacts=!wiChat.showContacts;" class="fa fa-chevron-down" style="float: right;cursor: pointer;"></span>
                    </div>
                    <div ng-show="wiChat.showContacts" class="listContact row">
                        <div ng-repeat="user in wiChat.listUser | filter: wiChat.search | orderBy: 'active'" 
                            ng-show="user.username != wiChat.user.username"
                            ng-click="wiChat.getConver({type:1, name:user.username})"
                            class="row conver" style="position: relative;margin-top: 5px">
                            <div style="width: 20%;padding: 0px">
                                <avatar username="user.username" color="user.color"></avatar>
                            </div>
                            <div style="width: 80%;padding: 0px;padding-right: 10px; position: absolute; transform: translateY(-50%); top: 50%; margin-left: 40px">
                                <span>{{user.username}}</span>
                                <span class="fa fa-circle" style="color: {{user.active}}; float: right; font-size: 10px"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="groups" ng-show="!wiChat.showAddUser" style="margin-bottom: 10px;padding: 5px;">
                    <div class="row" style="font-weight: 600; color: #4a4a4a">
                        GROUPS
                        <span ng-show="wiChat.showGroups" ng-click="wiChat.showGroups=!wiChat.showGroups;" class="fa fa-chevron-up" style="float: right;cursor: pointer;"></span>
                        <span ng-show="!wiChat.showGroups" ng-click="wiChat.showGroups=!wiChat.showGroups;" class="fa fa-chevron-down" style="float: right;cursor: pointer;"></span>
                    </div>
                    <div ng-show="wiChat.showGroups" class="listGroup row">
                        <div ng-repeat="conver in wiChat.listConver | filter:{type: 2} | filter: wiChat.search" ng-click="wiChat.getConver(conver)"
                            class="row conver" style="position: relative;margin-top: 5px">
                            <div style="width: 20%;padding: 0px">
                                <avatar username="conver.nameShow" color="conver.color"></avatar>
                            </div>
                            <div style="width: 80%;padding: 0px;padding-right: 10px; position: absolute; transform: translateY(-50%); top: 50%; margin-left: 40px">
                                <p style="text-overflow: ellipsis; display: inline-block; width: 80%; overflow-x: hidden; margin-bottom: 0px">{{conver.name}}</p>
                                <span class="fa fa-circle" style="color: rgb(31, 179, 31); float: right; font-size: 10px"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="help" ng-show="!wiChat.showAddUser" style="margin-bottom: 10px;padding: 5px;">
                    <div class="row" style="font-weight: 600; color: #4a4a4a">
                        HELP
                        <span ng-show="wiChat.showHelpDesk" ng-click="wiChat.showHelpDesk=!wiChat.showHelpDesk;" class="fa fa-chevron-up" style="float: right;cursor: pointer;"></span>
                        <span ng-show="!wiChat.showHelpDesk" ng-click="wiChat.showHelpDesk=!wiChat.showHelpDesk;" class="fa fa-chevron-down" style="float: right;cursor: pointer;"></span>
                    </div>
                    <div ng-show="wiChat.showHelpDesk" class="listGroup row">
                        <div ng-repeat="conver in wiChat.listConver | filter:{type: 3} | filter: wiChat.search" ng-click="wiChat.getConver(conver)"
                            class="row conver" style="position: relative;margin-top: 5px">
                            <div style="width: 20%;padding: 0px">
                                <avatar username="conver.nameShow" color="conver.color"></avatar>
                            </div>
                            <div style="width: 80%;padding: 0px;padding-right: 10px; position: absolute; transform: translateY(-50%); top: 50%; margin-left: 40px">
                                <span>Help desk</span>
                                <span class="fa fa-circle" style="color: rgb(31, 179, 31); float: right; font-size: 10px"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row earch" style="position: absolute; height: 7%; bottom: 0px;width: 100%;">
                <input type="text" placeholder="Search ..." style="height: 100%;width: 100%; padding-left: 5px" ng-model="wiChat.search">
            </div>
        </div>
    </div>
</div>
<script>
    var BASE_URL = 'http://127.0.0.1:5001';
    var socket = io(BASE_URL);
</script>