<!-- <img class="main-img" src="{{imgPreview.source}}" alt="image" style="width:100%;max-width:300px">


<div class="modal">
  <span class="close">&times;</span>
  <img class="modal-content">

</div> -->

<!-- <img
 class="main-img"
 id="{{imgPreview._img}}"
 src="{{imgPreview.source}}"
 alt="failed to load image"
 style="width:100%;max-width:300px"
 ng-click="imgPreview.imgOnclick()"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="img-preview">
    <img class="main-img" ng-src="{{imgPreview.smallImgLink}}" alt="failed to load image" style="width:100%;max-width:300px;z-index: 1002;"
        ng-click="imgPreview.imgOnclick()">

    <!-- The Modal -->
    <div id="{{imgPreview._modal}}" class="modal">
        <span class="close" ng-click="imgPreview.closeOnClick()">&times;</span>
        <span class="close" style="right: 70px" ng-click="imgPreview.downloadOnClick()">
            <!-- <i style="font-size: 31px" class="material-icons large">cloud_download</i> -->
            <a href="{{imgPreview.downloadLink}}">
                <i style="font-size: 31px; color: #f1f1f1" class="material-icons large">cloud_download</i>
            </a>
        </span>

        <span class="close" style="right: 109px" ng-click="imgPreview.zoomByMouseToggle()">
            <!-- <i style="font-size: 31px" class="material-icons large">cloud_download</i> -->
            <a style="cursor: pointer;">
                <i style="font-size: 31px; color: #f1f1f1" class="material-icons large">search</i>
            </a>
        </span>
        <figure class="zoom" id="{{imgPreview._zoomBackground}}">
            <img ng-src="{{imgPreview.fullImgLink}}" class="modal-content" id="{{imgPreview._modalImg}}">
        </figure>
    </div>
</div>

<!-- <chat-message text="':)) malie dsocj:-)'"></chat-message> -->
